/**
 * Body CSS
 */
 html,
 body {
   height: 100%;
 }
 
 html,
 body,
 input,
 textarea,
 button {
   -webkit-font-smoothing: antialiased;
   -moz-osx-font-smoothing: grayscale;
   text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.004);
 }
 
 
 /**
  * Sidebar CSS
  */
 #sidebar {
   background-color: #2196F3;
   padding: 15px;
 }
 
 @media (min-width: 768px) {
   #sidebar {
     position: fixed;
     top: 0;
     bottom: 0;
     width: 180px;
     height: 100%;
     padding-top: 30px;
   }
 }
 
 /**
  * Content CSS
  */
 @media (min-width: 768px) {
   #content {
     margin-left: 180px;
   }
 }

 /* COLORS */

 .color-ff6961 {
    color: #ff6961;
 }

 .color-ffb480 {
    color: #ffb480;
 }

 .color-f8f38d {
    color: #f8f38d;
 }

 .color-42d6a4 {
    color: #42d6a4;
 }

 .color-08cad1 {
    color: #08cad1;
 }

 .color-2196F3{
    color: #2196F3;
 }

 .color-9d94ff {
    color: #9d94ff;
 }

 .color-c780e8 {
    color: #c780e8;
 }

 /* BUTTONS */

 #add-btn {
    position: fixed;
    width: 50px;
    height: 50px;
    right: 20px;
    bottom: 20px;
 }

 /* TABLE */

 table {
    border-spacing: 0 15px !important;
 }

 thead tr {
    padding: 0 15px;
 }

 tr > th, tr > td {
    text-align: center !important;
 }

 .panel-icon, .row-icon {
    width: 30px;
 }

 .panel-type, .panel-teacher {
    max-width: 200px;
 } 

 .mui-panel::before {
    content: none;
 }

 .row-sort {
    position: relative;
 }

 .row-type, .row-teacher {
   white-space: nowrap; 
   width: 300px; 
   overflow: hidden;
   text-overflow: ellipsis; 
 }

 /* MODAL */

 .modal {
    max-width: 600px;
    max-height: 600px;
    margin: 100px auto;
    overflow-y: auto;
    background-color: #fff;
}
  
 .modal h1 {
    text-align: center;
 }
  
 .modal .modal-content {
    padding: 1rem;
 }

 /* FORM */

 .note-form__row {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
 }

 .w-20 {
    width: 20%;
 }

 .w-50 {
    width: 48%;
 }

 /* CHART TAB */

 .info-row {
   width: 100%;
   display: flex;
   justify-content: space-between;
   align-items: center;
   margin: 20px;
 }

 .w-30 {
   width: 30%;
 }

 .w-100 {
   width: 100%;
   display: flex;
   justify-content: center;
   align-items: center;
 }

 .info-row__block {
   padding: 20px;
   display: flex;
   justify-content: space-around;
 }

 .info-icon {
   font-size: 40px;
 }

 .text-bg {
   font-size: 22px;
   font-weight: 700;
 }

 .text-sm {
   font-size: 16px;
 }

 .text-fw {
   font-weight: 500;
 }